*{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 23px;
}
h3{
    font-size: 14px;
}
header{
    display: inline-flex;

}
.header-left{
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    width: 220px;
    height: 68px;
}
.header-left-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.header-right{
    background: #FDF1EB;
    display: flex;
    flex-direction: column;
    width: 1146px;
    height: 68px;
}
.title1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #725C5C;
}
.header-right-language{
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 97px;
height: 34px;
bo
    }