@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
h2{
    font-size: 22px;
}
h3{
    font-size: 14px;
}
.menu{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 16,5%;
    height: 100%;
    left: 0;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    top: 0%;
    z-index:999;
}
.menu-img{
    width: 220px;
    height: 258px;
}
.menu-op1,.menu-op2,.menu-op3,.menu-op5{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 33px;
   padding-top: 10px;
    

}
.menu-op4{
    background: #FDF1EB;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 33px;
   padding-top: 5px;
    display: flex;
   
}
header{
    display: flex;
  
    height: 68px;
    align-items: center;
    background: #FDF1EB;
    

}
.header-left-name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    width: 220px;
    height: 68px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
}
.header-right{
    flex-direction: row;
    width: 100%;
    margin-left: 250px;
    height: 68px;
    color: #725C5C;
    font-family: 'Roboto';
    
}
.title1{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
}
.idioma{
    font-size: 14px;
}
.header-right-about{
    color: #725C5C;
    font-family: 'Roboto';
    justify-items: flex-end;
    top: 30px;
}
.welcome{
    float: right;
    
}
.header-right-img{
    margin-left: -10px;
}
.user-img{
    border-radius: 50px;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 250px;
}
.conteudo{
    background: #FFFFFF;
    float: right;
    color: #ED7839;
}
.video{
    width: 783px;
    height: 439px;
}

.botao{
    background: #ED7839;
    border-radius: 4px;
    color: white;
    padding: 5px;
}
.conteuso-citacao{
    color: #ED7839;
}
.detalhes{
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 242px;
    height: 439px;
    left: 816px;
    top: 73px;
    padding-left: -60px;
    
}
.detalhes-title{
    width: 242px;
    height: 45px;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    vertical-align: middle;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;


    display: flex;
    align-items: center;

    color: #4E4E4E;
    
}
.detalhes-text{
    color: #5C5C5C;
}
.resumo{
    width: 1058px;
    position: relative;
    left: 0px;
    margin-left: 250px;

    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
}
.resumo-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    align-items: center;
    height: 45px;
    color: #4E4E4E;
    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
}
.resumo-parcial{
    position: static;
    padding: 10px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: justify;

    color: #5C5C5C;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
}

#mais,#topicoEnviado,#novoTopico,#outroTopico{
    display: none;
}
#vejaMais{
    color: #ED7839;
}
.discusoes{
    width: 1058px;
    
    left: 0px;
    margin-left: 250px;
    

    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px;
    position: absolute;
}
.discusoes-title{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;

    

    color: #4E4E4E;

    background: #FDF1EB;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    height: 45px;
    width: 1058px;
}
.discusoes-title2{
    
    
    top: 50%;
    bottom: 39%;
    padding-bottom: 30px;
    text-align:center ;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

    color: #ED7839;

}
.icon{

    position: relative;
    left: 37.72%;
    right: 43.72%;
    padding-bottom: 40px;
    padding-right: 35px;
    justify-content: space-around;
  
}
.discusoes-title3,.discusoes-title4,.discusoes-title5{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #595959;
}
.discusoes-title6{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color:#ED7839;
}
.discusoes-title5{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: left;
    color:#ED7839;
    margin-left: 17px;
}
.botao-topico{
    position: relative;
    left: 43.72%;
    right: 43.72%;
    top: 10px;
   
    
    padding-bottom: 10px;
}
input[id=assuntoText]{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 1025px;
    height: 33px;
    margin-left: 15px;
}
input[id=conteudoText]{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 1025px;
    height: 113px;
    margin-left: 15px;
}

.barra{
    background: #EAF1F2;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 0px 0px 4px 4px;
    height: 31px;
    margin-right: 20px;
    margin-left: 15px;

}
#enviar{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    height: 31px;
    width: 205px;
    left: 818.px;
    top: 214px;
    float: right;
    color: white;
    


}
.card-topico{
    margin-top: 5px;
    padding-left: 5px;
}
#enviarOutro{
    background: linear-gradient(180deg, #FEB154 0%, #F1833E 100%);
    border-radius: 0px 0px 4px 0px;
    height: 31px;
    width: 205px;
    text-align: center;
    margin-left: 40.72%;
    right: 43.72%;
    top: 10px;
    
    color: white;
    
}
footer{
    position: absolute;
    display: inline;
    margin-left: 230px;
    margin-top: 800px;
}